
        <div class="wrapper">
            <div class="nav">
                <div class="mobile-nav">
                    <div class="container">
                        <ul class="mobile-navbar">
                            <li><a href="#" class="nav-link">About Open Charity</a></li>
        				    <li><a href="#" class="nav-link">The Blog</a></li>
        				    <li><a href="#" class="nav-link btn">Join us</a></li>
                        </ul>
                    </div>
                </div>
    			<div class="container">
    				{{ page.brand }}
    				{{ page.menu }}
    			</div>
				
    		</div>
    		{{ page.content }}

    	</div>
